@media only screen and (max-width: 768px) {
    .middle-all-content {
      display: block;
    }
    .middle-section {
        height: 100%;
    }
    .content-section {
        height: 100%;
        padding-bottom: 50px;

    }
    .content {
        display: block;
        height: 100%;
        padding-bottom: 50px;
      }
    .content-2 {
        display: block;
        height: 100%;
        padding-bottom: 50px;

      }
      .content-image {
        margin-left: 22px;
        margin-right: 22px;
      }
      .content-image-2 {
        margin-left: 22px;
        margin-right: 22px;
      }
      .div-left-right-content-about-me {
        display: block;
        height: 100%;
        padding-bottom: 100px;
      }
      .about-me-all-content {
        height: 100%;
      }
      .about-me-section {
        height: 100%;
      }
      .contact-me-text {
        width: 590px;
      }

    }

    